:root {
    --main-color:#FFDCDC;
    --sub-color: #FFF2EB;
    --light_color: #FFE8CD;
    --dark-color: #eea0a0;
    --brownish: #cc5353;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--light-color);
}
header{
    background: var(--main-color);
    padding: 20px;
    color: var(--brownish);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.1);
}
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}
.proyecto{
    background-color: var(--main-color);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 450px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.proyecto:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(255, 167, 167, 0.15);
}
.proyecto img{
    margin-top: 10px;
    width: 350px;
    height: 220px;
    border-radius: 30px;
    object-fit: cover;
}
.logo{
    width: 300px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
button{
    margin-top: 10px;
    background-color: var(--dark-color);
    color: var(--brownish);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3 ease;
}

.perfil button:hover{
    background-color: var(--dark-color);
}

#subtitle{
    color: var(--dark-color);
}
.headerSections{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.headerSections a{
    color: var(--highlight-color);
    text-decoration: none !important;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 10%;
    border: 2px;
    border-style: solid;
    border-color: var(--dark-color);
    background-color: var(--light-color);
}

.imgChica {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 10px;
}

.proyect-name{
    color: var(--brownish);
}

.proyect-author{
    color:var(--dark-color);
}
.socialmedia-icons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.socialmedia-icons img{
    width: 30px;
    height: 30px;
}

.etiquetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.etiquetas button{
    margin-right: 5px;
    background-color: var(--sub-color);
    color: var(--dark-color);
    padding: 5px 10px;
}

.title{
    color: var(--brownish);
    margin-top: 20px;
    padding: 10px;
    background-color: var(--sub-color);
    display: flex;
    flex: wrap;
    justify-content: center;
}

.icon {
    width: 100px;
    background-color: var(--dark-color);
    border-radius: 10px;
    margin: 10px;
    border-width: 10px;
    padding: 5px 5px 0px 5px;
}
.experience-sub-title{
    color: var(--brownish);
    background-color: var(--main-color);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}