:root {
    --main-color:#ffbfbf;
    --sub-color: #ff9a9a;
    --light_color: #ffe8e7;
    --dark-color: #e77b7b;
    --brownish: #c43f3f;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--main-color);
    background-image: url('https://wallpaperaccess.com/full/8278296.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header{
    background: var(--main-color);
    padding: 20px;
    color: var(--brownish);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.1);
    margin-bottom: 30px;
}

header p{
    margin-top: 10px;
    font-weight: 300;
}

#main-title{
    font-size: 2.5em;
    font-weight: bold;
    color: var(--brownish);
}
#subtitle{
    color: var(--dark-color);
}

#proyects{
    background-image: url('https://wallpaperaccess.com/full/8278296.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}
.proyecto{
    background-color: var(--main-color);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 550px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proyecto:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(255, 167, 167, 0.15);
}

.project-softwares p{
    margin-top: 15px;
    color: var(--brownish);
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2em;
}
.project-softwares ul{
    color: var(--brownish);
}
.screenshot{
    margin-top: 10px;
    width: 350px;
    height: 220px;
    border-radius: 30px;
    object-fit: cover;
    border: solid;
    border-width: 5px;
    border-color: var(--dark-color);
}

.logo{
    width: 250px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
    border: none;
}

button {
    margin-top: 10px;
    background-color: var(--dark-color);
    color: var(--brownish);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3 ease;
}


.proyecto button:hover{
    background-color: var(--brownish);
    color: var(--sub-color);
}


button a {
    color: var(--brownish);
    text-decoration: none;
    transition: background 0.3s ease;
}

button a:hover {
    color: var(--sub-color);
}

.headerSections{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.headerSections a{
    color: var(--brownish);
    text-decoration: none !important;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 10%;
    border: 2px;
    border-style: solid;
    border-color: var(--brownish);
    background-color: var(--sub-color);
}

.headerSections a:hover{
    background-color: var(--dark-color);
    color: var(--sub-color);
}

.imgChica {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 10px;
}

.proyect-name{
    color: var(--brownish);
}

.proyect-author{
    color:var(--dark-color);
}
.socialmedia-icons{
    margin-top: 10px;
    padding: 5px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    background-color: var(--dark-color);
    max-width: fit-content;
}

.socialmedia-icons img{
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.etiquetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.etiquetas-title {
    color: var(--brownish);
    font-weight: bold;
    margin-right: 10px;
    padding-top: 5px;
    margin-top: 10px;
    font-size: 1.2em;
}   

.etiquetas a{
    color: var(--dark-color);
    text-decoration: none;
}

.etiquetas button{
    margin-right: 5px;
    background-color: var(--light_color);
    color: var(--dark-color);
    padding: 5px 10px;
}

.etiquetas button:hover{
    /*variante para que simule el hover de un boton*/
    background-color: var(--dark-color);
    color: var(--light_color);
    cursor: pointer;
    /*variante para que NO simule el hover de un boton*/
    background-color: var(--light_color);
    color: var(--dark-color);
    cursor: default;
}

.title{
    color: var(--brownish);
    padding: 10px;
    background-color: var(--main-color);
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.icon {
    width: 100px;
    margin: 10px;
}

#experience {
    background-image: url('https://wallpaperaccess.com/full/8278296.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.experience-details-container {
    margin-top: 20px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.article-container article {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: var(--main-color);
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.1);
    height: 150px;
}

.article-container article h3{
    color: var(--brownish);
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}

.article-container article p {
    color: var(--dark-color);
    margin: 0;
    padding-left: 10px;
}


.experience-sub-title{
    color: var(--brownish);
    background-color: var(--main-color);
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    max-width: fit-content;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.container label {
    color: var(--brownish);
    font-weight: bold;
    margin-bottom: 10px;
}

.container h2 {
    color: var(--brownish);
    margin-bottom: 20px;
}
.container p {
    color: var(--dark-color);
    margin-bottom: 20px;
}

.container input,
.container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--brownish);
    border-radius: 5px;
    margin-bottom: 20px;
}

.container button {
    background-color: var(--brownish);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--main-color);
    color: var(--brownish);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    box-shadow: 0 -4px 10px rgba(255, 0, 0, 0.1);
}

footer button {
    background-color: var(--dark-color);
    color: var(--brownish);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}
footer button:hover {
    background-color: var(--brownish);
    color: var(--sub-color);
}
